h1{
    font-size: 100px;
    text-align: center;
    background-color: red;
    color: white;
}
body{
    background-color: antiquewhite;
    margin: 0px;
    padding: 0px;
}
.green{
    color: green;
}
